<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <!-- pestaña -->
    <link rel="shortcun icon" href="/images/logo-mercado-liebre.svg" type="image/x-icon">
    <!--css-->
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/> 

</head>


<body class="home">
    <!--Encabezado-->

    <header>
        
        <div class="logo-nav">

            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
    
            <div>
                <form action="">
                    <input type="text" class="nav-buscador" placeholder="Buscar productos, marcas">
                    <button><i class="fas fa-search"></i></button>
                </form>
            </div>
            
            <p class="hand"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        </div>

        
        <nav id="mostrador">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        
    <nav id="ingresar">
        <ul>
            <li><a href="">Creá tu Cuenta</a>  <i class="far fa-address-card"></i></li>
            <li><a href="">Ingresá</a>  <i class="fas fa-sign-in-alt"></i></li> 
            <li><a href="">Mis compras</a>  <i class="fas fa-shopping-basket"></i></li>    
        </ul>
    </nav>  

    <div class="btn-barra">
        <i class="fas fa-bars"></i>
    </div>
      
    </header>
    
    <div class="pictures1">
        <img src="/images/img-home-banner.jpg">
    </div>

    <!-- main -->
    <main>      
        <div id="last-see">
            <h2>Basado en tu ultima visita</h2>
        </div>

        <section>
            <!--Cafetera-->
                <article>
                    <div>
                        <img src="/images/img-cafetera-moulinex.jpg" width="100%" class="img-p">
                    </div>
                    <div class="productos">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <p class="marcas">Cafetera Moulinex</p>
                    </div>
                </article>
                                                   
                    <!--Macbook-->
                    <article>
                        <div>
                            <img src="/images/img-macbook-pro-2019.jpg" width="100%" class="img-p">
                        </div>
                        <div class="productos">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$23.200</p> 
                            <p class="descuento">20% off</p>     
                            <p class="marcas">MacBook Pro 2019</p>
                        </div>
                    </article>
                    
                    <!--Samsung -celu -->
                    <article>
                        <div>
                            <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" class="img-p">
                        </div>
                        <div class="productos">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$70.500</p> 
                            <p class="descuento">10% off</p>     
                            <p class="marcas">Samsung Galaxy S10</p>
                        </div>
                    </article>
                
                    <!--tv-->
                    <article>
                        <div>
                            <img src="/images/img-tv-samsung-smart.jpg" width="100%" class="img-p">
                        </div>
                        <div class="productos">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                            <p class="marcas">SmartTv Samsung 43"</p>
                        </div>

                    </article>         
        </section>
    
        <section>
            <h3>Ofertas</h3>

            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" width="100%" class="img-p">
                </div>
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                    <p class="marcas">Cafetera Moulinex</p>
                </div>
            </article>

            <!--MacBook-->
            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" width="100%" class="img-p">
                </div>
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p> 
                    <p class="descuento">20% off</p>     
                    <p class="marcas">MacBook Pro 2019</p>
                </div>
            </article>

            <!--Samsung -celu -->
            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" class="img-p">
                </div>
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p> 
                    <p class="descuento">10% off</p>     
                    <p class="marcas">Samsung Galaxy S10</p>
                </div>
            </article>

            <!--tv-->
            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" width="100%" class="img-p">
                </div>
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <p class="marcas">SmartTv Samsung 43"</p>
                </div>
            </article>  
        </section>  
    </main>

    <footer>
        
            <section class="scroll">
                <i class="fas fa-credit-card"></i>
                <h4 >Paga con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                   puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>

            <!--free-->
                <section>
                    <i class="fas fa-gift"></i>
                    <h4>Envío gratis desde $ 2.500</h4>   
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </section>

                <section>
                    <i class="fas fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>    
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </section>  
                <!--copy-->
                <p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>    
    </footer>

</body>

</html>