.home main {
    width: 90%;
    margin: 0 auto;
}
.home main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.home main section h4{
    width: 100%;
    text-align: left;
    color: var(--GrisOscuro);
    text-transform: capitalize;
    font-size: 20px;
}
.home main section article {
    margin: 10px 0;
    background-color: white;
    transition: all ease .3s;
}
.home main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/*  I */
.home main section article .productos i{
    color: var(--Verde);
    display: block;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    transition: all ease .3s;
    margin-top: -27px;
}
.home main section article:hover .productos i{
    box-shadow: 0 0 5px var(--Verde);
    transform: rotate(360deg);

}

.home main section article .productos{
    border-top: 1px solid var(--GrisClaro);
    padding: 15px;
    position: relative;
}
 
.home main section article .productos .precio-descuento{
    display: flex;
    font-size: 19px;
}



.home main section article .productos .precio{
    font-size: 18px;
    flex-grow: 0.3;
}

.home main section article .productos .descuentos{
    font-size: 16px;
    color: var(--Verde);
    flex-grow: 0.7;
}

.home main section article .productos .marcas{
    height: 0;
    transition: all ease .3s;
    overflow: hidden;
    color: var(--GrisOscuro);
    font-size: 16px;
}
.home main section article:hover .productos  .marcas{
    height: 20px;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .home main section article {
       
        width: 40%;
    }   
    .home main section article .productos .marcas{
        display: block;
    }
}

@media(min-width: 1024px){
    .home main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;

}
}





/*article p{
    width: 110px;
    color:#03264C;
    background-color:white;
    border:1px solid #ebebeb;
    margin:0px auto;
    display: block;   
}

 section main article.pro{
    width:90vw;
} 
article .pro{
    width:90%;
    display: inline-block 10px;
    border-top: 1px solid #ebebeb;
    border:  0px 15px ;
    margin:31%;


}
main section p{
    width: 31%;
    color:#03264C;
    background-color:white;
    border: 5px solid #ebebeb;
    margin:0px auto;
    
}*/

/*section .marcas{
    color: #666;
}
section .fa-credit-card {
    margin-block-start: 15px;
    margin-inline-end: 4px;
}
section .descuento{
    color: #39b54a;
}
section .fa-truck{
    color: #39b54a;
    margin-left: 32.5%;
    margin-block-start: 25px;
    font-size: 1.5em;
    
}
h3{
    text-align: center;
    font-size: 1.5em;
}




